body,
html {
  height: 140%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  background: linear-gradient(#042e3b, #096480, #042e3b, #096480);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  z-index: 2;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 15% 40% 40% 10%;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

nav {
  grid-area: nav;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  background-color: #ffffff2f;
}

.dropdown {
  display: none;
  position: absolute;
}

.logo {
  margin: 0.5rem;
  padding-top: 5px;
  padding-left: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-align: center;
  color: #ff7b00;
}
.links ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  text-align: center;
}

.links li {
  position: relative;
  display: flex;
  height: 30px;
  padding: 10px 50px 10px 50px;
  align-items: center;
  font-size: 110%;
  font-weight: bold;
  color: #ffffff;
  border-radius: 25px;
  list-style: none;
}

nav a {
  text-decoration: none;
}

li:hover {
  background-color: #6f848a;
}

.home-icon {
  position: relative;
  padding-right: 10px;
  width: 30px;
  height: 26px;
}

.cart-icon {
  position: relative;
  padding-right: 8px;
  width: 30px;
  height: 30px;
}

.contact-icon {
  position: relative;
  padding-right: 10px;
  width: 25px;
  height: 20px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.event-info {
  height: 100%;
  width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 30px;
  background-color: #042e3b;
  opacity: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 120%;
  font-weight: lighter;
  line-height: 35px;
  z-index: 2;
  color: #ffffff;
  border-radius: 50px;
}

header li {
  list-style: none;
}

header li:hover {
  background-color: transparent;
}

.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 700px;
  padding: 10px;
  margin: 30px;
  background-color: rgba(58, 117, 112, 0.562);
  opacity: 95%;
  border-radius: 50px;
  text-align: left;
  color: #ffffff;
  font-size: 120%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4em;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

button {
  border-color: #ffffff;
  background-color: rgb(15, 36, 33);
  color: #ffffff;
  border-radius: 20px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

input {
  width: 98%;
  height: 50px;
  border-radius: 10px;
}

main {
  grid-area: main;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer {
  grid-area: footer;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#096480, #042e3b);
  width: 100%;
  color: #ffffff;
  z-index: 2;
}

@media only screen and (max-width: 1205px) {
  nav ul {
    margin-top: 3%;
    letter-spacing: 2px;
    margin-left: 20vh;
    font-size: 8px;
  }

  .nav li {
    position: relative;
    display: flex;
    text-align: center;
  }

  .logo {
    font-size: 100%;
  }

  .event-info {
    line-height: 45px;
    font-size: 25px;
  }

  .event-info li {
    text-align: left;
  }

  .contact-us {
    font-size: 25px;
  }

  footer {
    font-size: 60%;
  }
}

@media only screen and (max-width: 750px) {
  .navbar ul {
    display: none;
  }

  .dropbtn {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-style: hidden;
    z-index: 3;
    height: 28px;
    width: 40px;
  }

  .bar {
    width: 90%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 100px;
    border-style: hidden;
  }

  .dropdown {
    position: fixed;
    display: inline-block;
    margin-top: 30px;
    margin-left: 75%;
    display: flex;
    justify-content: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff73;
    min-width: 80px;
    text-align: center;
    margin-top: 40px;
  }

  .dropdown-content a {
    color: #000000;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    font-weight: bolder;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    opacity: 70%;
  }

  .logo {
    font-size: 100%;
  }

  .event-info {
    font-size: 80%;
    line-height: 35px;
  }

  .event-info li {
    text-align: left;
    font-style: italic;
  }

  .contact-us {
    font-size: 15px;
  }

  main {
    height: 550px;
  }

  footer {
    font-size: 50%;
  }
}

.animation-coral {
  z-index: 1;
  width: 40%;
  height: 80%;
  position: absolute;
  top: 32%;
  left: 60%;
  opacity: 30%;
  animation-name: animation-coral;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes animation-coral {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(5%);
  }
}
.animation-starfish {
  z-index: 1;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 100%;
  opacity: 40%;
  animation-name: animation-starfish;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes animation-starfish {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
